Plugins>TTorg, "Analysis on entire image...", TT_org("0")
Plugins>TTorg, "Analysis on crop...",  TT_org("1")
Plugins>TTorg, "Batch mode...",  TT_org("2")
Plugins>TTorg, "Analyze All Slices ...",  TT_org("3")
Plugins>TTorg, "TT Options...",  TT_org("options")
Plugins>TTorg, "Create Test Image...",  CTI_org("")
Plugins>TTorg, "Create Hanning W...",  Hanning("")
Plugins>TTorg, "Kinematic",  CTI_org("auto")
